<!DOCTYPE html>
<html>
	<head prefix="og: http://ogp.me/ns#">
		<title>Victor Herrera - Web Developer</title>
		<meta name="description" content="Senior Web Developer - Fan of simplistic yet astonishing digital solutions"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" /> 
		<meta property="og:locale" content="en_US">
		<meta property="og:title" content="Victor Herrera R. | Senior Web Developer"/>
		<meta property="og:image" content="http://www.victorh.me/img/fb-share.jpg"/>
		<meta property="og:image:type" content="image/jpg"/>
		<meta property="og:image:width" content="600"/>
		<meta property="og:image:height" content="315"/>
		<meta property="og:url" content="http://www.victorh.me"/>
		<meta property="og:site_name" content="VH">
		<meta property="og:type" content="website"/>
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@dsvictorh" />
		<meta name="twitter:title" content="Victor Herrera" />
		<meta name="twitter:description" content="Senior Web Developer - Fan of simplistic yet astonishing digital solutions" />
		<meta name="twitter:image" content="http://www.victorh.me/img/fb-share.jpg" />
		<meta property="og:description" content="Senior Web Developer - Fan of simplistic yet astonishing digital solutions"/>
		<link rel="author" href="https://plus.google.com/+VictorHerreraR"/>
		<link rel="icon" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/css/site-gg.css" />
		{{#if recaptcha}}
			<script src='https://www.google.com/recaptcha/api.js'></script>
		{{/if}}
	</head>
	<body ng-app="vh-gg">
		{{#if data.content.heroBackground}}
		<div class="hero-background">
			<img src="{{data.content.heroBackground}}" />
		</div>
		{{/if}}
		<header>
			<nav class="nav-main flexbox">
				<ul class="flexbox fill-space" focusable-objects>
					<li>
						<a href="/" class="logo" focus-object>
							<img src="/img/logo/logo-color.png" alt="About me" />
						</a>		
					</li>
					<li>
						<a href="/samples" focus-object>Samples</a>
					</li>
					<li>
						<a href="/" focus-object>Contact</a>
					</li>
				</ul>
				<a href="/" class="button gamers">Gamers Only</a>
			</nav>
		</header>
		<main>
			{{{body}}}
		</main>
		<footer>
			<nav class="flexbox align-items-center">
				<ul class="flexbox fill-space" focusable-objects>
					<li>
						<a href="https://www.linkedin.com/in/dsvictorh" target="_blank" class="linked-in" focus-object></a>
					</li>
					<li>
						<a href="https://github.com/dsvictorh/" class="github" target="_blank" focus-object></a>
					</li>
					<li>
						<a href="https://www.facebook.com/dsvictorh" class="facebook" target="_blank" focus-object></a>
					</li>
					<li>
						<a href="https://twitter.com/dsvictorh" class="twitter" target="_blank" focus-object></a>
					</li>
					<li>
						<a href="https://plus.google.com/u/0/+VictorHerreraR" class="google" target="_blank" focus-object></a>
					</li>
					<li>
						<a href="mailto:dsvictorh@gmail.com" class="email" target="_blank" focus-object></a>
					</li>
				</ul>
				<small>&copy;Victor Herrera {[{currentYear}]}</small>
			</nav>
		</footer>
		<script src="/lib/jquery.js"></script>
		<script src="/lib/angular.js"></script>
		<script src="/js/app-gg.js"></script>
		{{> scripts scripts=scripts}}
	</body>
</html>