<!DOCTYPE html>
<html>
	<head prefix="og: http://ogp.me/ns#">
		<title>Victor Herrera - Senior Web Developer</title>
		<meta name="description" content="Senior Web Developer and Software Engineer Lead. Fan of simplistic yet astonishing digital solutions"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" /> 
		<meta property="og:locale" content="en_US">
		<meta property="og:title" content="Victor Herrera R. | Software Engineer Lead - Senior Web Developer"/>
		<meta property="og:image" content="http://www.victorh.me/img/fb-share.jpg"/>
		<meta property="og:image:type" content="image/jpg"/>
		<meta property="og:image:width" content="600"/>
		<meta property="og:image:height" content="315"/>
		<meta property="og:url" content="http://www.victorh.me"/>
		<meta property="og:site_name" content="VH">
		<meta property="og:type" content="website"/>
		<meta name="twitter:card" content="summary" />
		<meta property="og:description" content="Senior Web Developer and Software Engineer Lead. Fan of simplistic yet astonishing digital solutions"/>
		<link rel="author" href="https://plus.google.com/+VictorHerreraR"/>
		<link rel="icon" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/css/site.css" />
		{{#if recaptcha}}
			<script src='https://www.google.com/recaptcha/api.js'></script>
		{{/if}}
	</head>
	<body ng-app="vh" unfocus>
		<main waypoints-animate>
			{{{body}}}
		</main>
		<footer>
			<small>&copy;Victor Herrera 2016</small>
			<i>
				<a href="http://cr.linkedin.com/in/dsvictorh" class="linked-in" data-focus></a>
			</i>
			<i>
				<a href="http://github.com/dsvictorh" class="github" data-focus></a>
			</i>
		</footer>
		<script src="/lib/jquery.js"></script>
		<script src="/lib/scroll-to.js"></script>
		<script src="/lib/waypoints.js"></script>
		<script src="/lib/angular.js"></script>
		<script src="/js/app.js"></script>
		{{> scripts scripts=scripts}}
	</body>
</html>