<!DOCTYPE html>
<html>
	<head>
		<title>Victor Herrera - Web Developer</title>
		<link rel="icon" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/css/site-gg.css" />
	</head>
	<body>
		<main>
			{{{body}}}
		</main>
	</body>
</html>