<main>
	<article class="error-page">
		<h1>Unauthorized</h1>
		<p>Hey you’re not supposed to be here and my bouncer boy right there doesn’t like it! You better get back by clicking <a href="/">here</a> before he gets rough on you.</p>
		<figure>
			<img src="/img/error-pages/unauthorized.png" />
		</figure>
	</article>
</main>