<main>
	<article class="error-page">
		<h1>Not Found</h1>
		<p>Oops! It seems you wandered off outside my site. Click this <a href="/">mystical portal</a> to get back!</p>
		<figure>
			<img src="/img/error-pages/not-found.png" />
		</figure>
	</article>
</main>
