<main>
	<article class="error-page">
		<h1>Internal Server Error</h1>
		<p>Uh oh... Time to pull out the duct tape. If you would like to help out please send an email to <a href="mailto: dsvictorh@gmail.com">dsvictorh@gmail.com</a> describing what you were doing when this happened... Or bring more duct tape.</p>
		<figure>
			<img src="/img/error-pages/server-error.png" />
		</figure>
	</article>
</main>