<main>
	<article class="error-page">
		<h1>Under Construction</h1>
		<p>This site is down for maintenance. For any questions feel free to send me an email to <a href="mailto: dsvictorh@gmail.com">dsvictorh@gmail.com</a>. Have a great day!!!</p>
		<figure>
			<img src="/img/error-pages/maintenance.png" />
		</figure>
	</article>
</main>