<article class="module no-bottom-space">
	<div class="content-wrapper box">
		<section class="profile flexbox">
			<div>
				<h1>Contact</h1>
				<p>If you are interested in what I do and how I do it don't hesitate to reach out to me. I am especially interested in gaming related projects as it is a big part of my life and my career, but my interest extends to any out of the ordinary projects that aim to give a new perspective.</p>
			</div>	
			<figure>
				<img src="/img/contact/mail.png" />
			</figure>
		</section>
	</div>
</article>
<article class="module">
	<div class="content-wrapper contact-form">
		<form class="flexbox justify-space-around">
			<div>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" id="name" />
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" />
				</div>
				<div class="form-group">
					<label for="subject">Subject</label>
					<input type="text" id="subject" />
				</div>
			</div>
			<div>
				<div class="form-group">
					<label for="message">Message</label>
					<textarea id="message"></textarea>
				</div>
			</div>
		</form>
		<section></section>
	</div>
</article>
