<article class="module no-bottom-space hero">
	<div class="content-wrapper">
		<section class="text-image">
			<div>
				<h1>{{data.content.title}}</h1>
				<p>{{data.content.titleFirstParagraph}}</p>
			</div>
			<figure class="hide-mobile">
				<img src="{{data.content.titleImage}}" />
			</figure>
		</section>
	</div>
</article>
<article class="module hero" ng-controller="ContactFormController">
	<div class="content-wrapper box contact-form">
		<form ng-submit="send()">
			<fieldset>
				<div>
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" id="name" ng-model="email.name"  maxlength="50" />
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" id="email" ng-model="email.email"  maxlength="100" />
					</div>
					<div class="form-group">
						<label for="subject">Subject</label>
						<input type="text" id="subject" ng-model="email.subject"  maxlength="100" />
					</div>
				</div>
				<div>
					<div class="form-group">
						<label for="message">Message</label>
						<textarea id="message" ng-model="email.message" maxlength="500"></textarea>
					</div>
					<div class="g-recaptcha" data-theme="dark" data-sitekey="6LfbjRgTAAAAAHXP29bnsw9I0DqVg7SlXUApPhlK"></div>
					<button>Submit</button>
				</div>
			</fieldset>
		</form>	
	</div>
</article>
