<article class="module no-bottom-space hero">
	<div class="content-wrapper">
		<section class="text-image flexbox">
			<div>
				<h1>Victor Herrera</h1>
				<p>Hi there, and welcome to my site! My name is Victor Herrera, I'm a Senior Web Developer focused on innovative yet intuitive and familiar solutions. </p>
				<p>I want to tell you a little bit about myself and since they say a picture is worth 1000 words I figured a website might be around 10000. </p>
			</div>
			<figure class="align-end">
				<img src="/img/about-me/vh.png" />
			</figure>
		</section>
	</div>
</article>
<article class="module">
	<div class="content-wrapper">
		<section class="skills-viewer flexbox">
			<ul class="fill-space">
				<li ng-click="loadSkills('front-end')">Front-End <i></i></li>
				<li ng-click="loadSkills('front-end')">Back-End <i></i></li>
				<li ng-click="loadSkills('front-end')">Personal <i></i></li>
				<li ng-click="loadSkills('front-end')">Interests <i></i></li>
			</ul>
			<div class="viewer">
				<div class="flexbox justify-space-around flex-wrap">
					<figure>
						<figcaption>HTML</figcaption>
						<div class="percentage-circle">
							<div class="quarter" style="transform: rotate(45deg);"></div>
						    <div class="quarter" style="transform: rotate(135deg);"></div>
						    <div class="quarter" style="transform: rotate(225deg);"></div>
						    <div class="quarter" style="transform: rotate(315deg);"></div>
						    <div class="cover" style="display: none;"></div>
						    <i class="text">100</i>
						</div>
					</figure>
					<figure>
						<figcaption>HTML</figcaption>
						<div class="percentage-circle">
							<div class="quarter" style="transform: rotate(45deg);"></div>
						    <div class="quarter" style="transform: rotate(135deg);"></div>
						    <div class="quarter" style="transform: rotate(225deg);"></div>
						    <div class="quarter" style="transform: rotate(315deg);"></div>
						    <div class="cover" style="display: none;"></div>
						    <i class="text">100</i>
						</div>
					</figure>
					<figure>
						<figcaption>HTML</figcaption>
						<div class="percentage-circle">
							<div class="quarter" style="transform: rotate(45deg);"></div>
						    <div class="quarter" style="transform: rotate(135deg);"></div>
						    <div class="quarter" style="transform: rotate(225deg);"></div>
						    <div class="quarter" style="transform: rotate(315deg);"></div>
						    <div class="cover" style="display: none;"></div>
						    <i class="text">100</i>
						</div>
					</figure>
				</div>
				<div class="details">
					<h4>Related skills:</h4>
					<ul>
						<li>HTML5</li>
						<li>CSS3</li>
						<li>JS</li>
						<li>Angular</li>
						<li>jQuery</li>
						<li>KnockoutJS</li>
						<li>UI/UX</li>
						<li>PhotoShop</li>
					</ul>
					<p>As a Front-End expert I never leave aside the importance of the most simple things. My understanding of the document's flow, specificity and how the browser interprets the styles is what I consider my #1 skill. Also I'm really good at CSS animations.</p>
				</div>
			</div>
		</section>
	</div>
</article>
