<article class="module no-bottom-space">
	<div class="content-wrapper box">
		<h1>{{data.content.title}}</h1>
		<p>{{data.content.titleFirstParagraph}}</p>
		<p>{{data.content.titleSecondParagraph}}</p>
	</div>
</article>
<article class="module" ng-controller="QuestionBoxesController">
	<div class="content-wrapper flexbox justify-center flex-wrap question-boxes">
		<figure ng-repeat="sample in samples track by sample._id" ng-class="{right: sample.right, wrong: sample.wrong, answered: sample.answered, asking: sample.asking}">
			<p class="question" ng-class="{hide: sample.hide}" ng-click="loadQuestion($event, sample)"></p>
			<form class="question-form">
				<p>{[{sample.question.response || sample.question.question}]}</p>
				<label ng-repeat="answer in sample.question.answers track by $index">
					<input type="radio" name="answer" value="{[{$index + 1}]}" ng-model="sample.answerOption.option" ng-change="answerQuestion(sample)" ng-disabled="sample.answering" />	
					<span>{[{answer}]}</span>
				</label>
			</form>
			<figure class="sample" ng-if="sample.correct && !sample.answering">
				<img src="/img/samples/vh.png" ng-click="showSample(sample)" />
			</figure>
			<div>
				<i></i>
				<i></i>
				<i></i>
				<i></i>
			</div>
		</figure>
	</div>
</article>

