<article class="module no-bottom-space">
	<div class="content-wrapper">
		<h1>Where did the samples go?</h1>
		<p>I'd like to show you some fun little samples with my work but they have a tendency for switching places without telling anyone. Unfortunately you are going to have to find them.</p>
		<p>From what I can see the little jokers are hiding behind those magical question boxes, you will have to answer a question before they open up. Good luck!</p>
	</div>
</article>
<article class="module">
	<div class="content-wrapper flexbox justify-center flex-wrap question-boxes">
		<figure>
			<p class="question"></p>
			<div>
				<i></i>
				<i></i>
				<i></i>
				<i></i>
			</div>
		</figure>
		<figure>
			<i></i>
			<i></i>
			<i></i>
			<i></i>
		</figure>
		<figure>
			<i></i>
			<i></i>
			<i></i>
			<i></i>
		</figure>
		<figure>
			<i></i>
			<i></i>
			<i></i>
			<i></i>
		</figure>
		<figure>
			<i></i>
			<i></i>
			<i></i>
			<i></i>
		</figure>
	</div>
</article>

