<article class="module no-bottom-space">
	<div class="content-wrapper box">
		<h1>{{data.content.title}}</h1>
		<p>{{data.content.titleFirstParagraph}}</p>
		<p>{{data.content.titleSecondParagraph}}</p>
	</div>
</article>
<article class="module" ng-controller="QuestionBoxesController">
	<div class="content-wrapper flexbox justify-center flex-wrap question-boxes">
		<figure>
			<p class="question" ng-click="loadQuestion($event)"></p>
			<form class="question-form" ng-submit="">
				<p>{[{question.question}]}</p>
				<label ng-repeat="answer in question.answers track by $index">
					<input type="radio" name="answer" value="{[{$index + 1}]}" />	
					<span>{[{answer}]}</span>
				</label>
			</form>
			<div>
				<i></i>
				<i></i>
				<i></i>
				<i></i>
			</div>
		</figure>
		<figure>
			<p class="question" ng-click="loadQuestion($event)"></p>
			<div class="question-form">
				<p>{[{question.question}]}</p>
			</div>
			<div>
				<i></i>
				<i></i>
				<i></i>
				<i></i>
			</div>
		</figure>
		<figure>
			<p class="question" ng-click="loadQuestion($event)"></p>
			<div class="question-form">
				<p>{[{question.question}]}</p>
			</div>
			<div>
				<i></i>
				<i></i>
				<i></i>
				<i></i>
			</div>
		</figure>
		<figure>
			<p class="question" ng-click="loadQuestion($event)"></p>
			<div class="question-form">
				<p>{[{question.question}]}</p>
			</div>
			<div>
				<i></i>
				<i></i>
				<i></i>
				<i></i>
			</div>
		</figure>
	</div>
</article>

