<ul class="stats" data-animation="slide-down" data-trigger="fill" fill-meters>
	{{#each meters}}
		<li data-fade-in ng-click="open($event)">
			<div class="meter" data-slide-down data-percentage="{{percentage}}">
				<div {{#ifeq @index 0}}data-click-me{{/ifeq}}>
					<i data-fill></i>
					<span class="description">{{title}}</span>
					<span class="percentage" data-text></span>
				</div>
				{{#if calculateSkill}}
					<span class="result" data-target="skill"></span>
				{{/if}}
			</div>
			{{#if description}}
			<section class="details">
				<p>{{{description}}}</p>
			</section>
			{{/if}}
		</li>
	{{/each}}
</ul>