.contact-form{
	overflow: hidden;
	
	form{
		button{
	    	background: @color-background;
	    	color: @color-white;
			float: right;
			font-size: 2rem;
			border-radius: 5px;
			

			.media-mobile({
			    width: 100%;
				margin-top: 20px;
		    });

	    	&:hover{
	    		background: @color-danger;
	    	}	

	    	&:focus{
	    		outline: none;
	    	}
    	}

    	.g-recaptcha{
    		float: left;
    	}

	    fieldset{
			.clear;

	    	> div{
	    		&:first-child{
	    		    width: 35%;
				    margin-right: 5%;
				    float: left;

				    .media-mobile({
					    width: 100%;
    					margin-right: 0%;
				    });
		    	}

		    	&:last-child{
	    		    width: 60%;
    				float: left;

    				.media-mobile({
					    width: 100%;
				    });
		    	}
	    	}
	    }

	    .form-group{
	    	margin-bottom: 20px;

	    	label{
	    		font-size: 2rem;
	    		margin-bottom: 2px;
	    	}

	    	input[type="text"], input[type="email"], textarea{
    		    width: 100%;
			    margin: 0;
			    border: 0;
			    font-size: 2rem;
			    padding: 5px;
			    border-radius: 5px;
			    box-sizing: border-box;
			    border: 2px solid transparent;
			    font-family: inherit;

			    &:focus{
			    	border-color: @color-danger;
			    	outline: none;
			    }

	    	}

	    	textarea{
	    		height: 207px;
	    		resize: none;
	    	}
	    }
	}
}