.text-image{
	.clear;

	> div{
	    width: 45%;
	    padding-right: 20px;
	    float: left;
	    box-sizing: border-box;

	    .media-mobile({
			width: 100%;
	    });
	}

	> figure{
	    width: 55%;
    	float: left;
    	text-align: right;

    	.media-mobile({
			width: 100%;
			text-align: center;
	    });

	    &.hide-mobile{
	    	.media-mobile({
				display: none;
		    });
	    }
	}
}