@import 'utils.less';
@import 'core.less';

//Structure
html {
	min-height: 600px;
	font-size: 10px;

	.media-mobile({
		font-size: 8px;
	});
}

footer{
	background: @color-gray;
	border-top: 1px inset @color-footer-border;
	padding: 0.5vw 5vw;
	.clear;

	small{
		line-height: 2.5vw;

		.media-desktop-small({
			line-height: 4vw;
		});

		.media-mobile-small({
			line-height: 9vw;
		});
	}

	i{
		float: right;
		font-size: 2rem;
		line-height: 2;
		cursor: pointer;
		margin-left: 15px;
		.transition(opacity 0.2s linear);

		&:hover{
			opacity: 0.4;
		}

		a{
			&.linked-in{
				color: @color-linked-in;
				.awesome-icon('\f0e1');
			}

			&.github{
				color: @color-black;
				.awesome-icon('\f09b');
			}
			
		}
	}
}


//Layout
body{
	font-family: @font-site;
	color: @color-white;
	font-size: 1.5rem;
	background: @color-blue;
	.awesome-icon('\f013', @position: before, @size: 50px);

	&:before{
	    position: fixed;
	    display: block;
	    top: 50%;
	    left: 0;
	    margin: 0 49%;
	    z-index: -1;

		.media-mobile-small({
			top: 40%;
			margin: 0 45%;
		});


	    .transition(opacity 0.6s linear);
	    .animation(spin, @duration: 2s, @iterationCount: infinite, @timingFunction: linear);
	    .keyframes(spin, {
		  0% {
		  	opacity: 1;
		    -webkit-transform: rotate(0deg);
		            transform: rotate(0deg);
		  }

		  50%{
		  	opacity: 0;
		  }

		  100% {
		  	opacity: 1;
		    -webkit-transform: rotate(359deg);
		            transform: rotate(359deg);
		  }
		});
	}

	&.ready:after{
		opacity: 0;
	}
}

main{
	opacity: 0;
	.transition(opacity 0.5s 0.5s ease-out);

	.ready &{
		opacity: 1;
	}
}

h1{
    font-size: 5vw;
    margin-bottom: 1vw;
    font-weight: bold;

    .media-mobile({
		font-size: 4.5rem;
    });
}

h2{
    font-size: 3.5rem;
    margin-bottom: 2vw
}

h3{
	font-size: 2rem;
	font-weight: bold;
}

h4{
	font-size: 2.3rem;
    margin-bottom: 1vw;
}

h5{
	font-size: 2rem;
}

p{
	margin-bottom: 1vw;

	&:last-child{
		margin-bottom: 0;
	}
}

.module{
	@import 'modules/intro.less';
	@import 'modules/about.less';
	@import 'modules/work.less';
	@import 'modules/contact.less';

	.content{
		width: 90%;
		margin: 0 auto;
		padding: 10vh 0;

		.media-mobile-small({
			width: 95%;
		});

		.reduced&{
			max-width: 1000px;
		}
	}
}

@import 'animations.less';