@import 'utils-gg.less';
@import 'core-gg.less';

//Structure
html {
	font-size: 10px;

	.media-mobile({
		font-size: 8px;
	});

	&.loading{
		body{
			overflow: hidden;
			height: 100%;
		}

		.loader{
			img{
				.animation(
				 floatLoader,
				 @duration: 3s, 
				 @fillMode: forwards, 
				 @direction: normal, 
				 @timingFunction: linear,
				 @iterationCount: infinite);

				.keyframes(floatLoader, {
					0%{
						margin-top: 0;
						opacity: 1;
					}

					25%{
						margin-top: 1%;
						opacity: 0.1;
					}

					50%{
						margin-top: 0%;
					}

					75%{
						margin-top: -1%;
					}

					100%{
						margin-top: 0;
						opacity: 1;
					}
				});
			}
		}
	}

	&.ready{
		.loader{
			.animation(
			 fadeOutLoader,
			 @duration: 0.6s, 
			 @fillMode: forwards, 
			 @direction: normal, 
			 @timingFunction: linear);

			.keyframes(fadeOutLoader, {
				0%{
					opacity: 1;
				}

				100%{
					z-index: -1;
					visibility: hidden;
					opacity: 0;
				}
			});
		}
	}


	.loader{
		position: fixed;
	    background: @color-primary-button;
	    width: 100%;
	    height: 100%;
	    z-index: 100;

	    figure{
	    	margin-top: 15%;
	    	text-align: center;

	    	img{
		    	display: inline-block;
		    }
	    } 
	}
}

main{
	padding-top: 40px;

	.media-mobile({
		padding-top: 0;
	});
}

.site-footer{
    border-top: solid rgba(255,255,255,0.2) 1px;
    padding: 20px;
    background: @color-background;

    &.transparent{
    	background: none;
    }

    ul{
    	font-size: 2.5rem;

    	li{
    		margin: 0 20px;
    		.transition(all 0.3s linear);

    		.media-mobile({
				margin: 0 15px;
		    });

    		&:hover{
    			color: @color-danger;
    		}

    		.linked-in{
	    		.awesome-icon('\f0e1');
	    	}

	    	.github{
	    		.awesome-icon('\f113');
	    	}

	    	.facebook{
	    		.awesome-icon('\f09a');
	    	}

	    	.twitter{
	    		.awesome-icon('\f099');
	    	}

	    	.google{
	    		.awesome-icon('\f0d5');
	    	}

	    	.email{
	    		.awesome-icon('\f1fa');
	    	}
    	}
	}

	small{
	    font-size: 1.2rem;
	    color: @color-white;
	    font-style: italic;
	    font-weight: 300;
	}
}

.nav-main{
    border-bottom: solid rgba(255,255,255,0.2) 1px;
    font-size: 1.8rem;
    .clear;

    a{
		font-weight: 300;
		letter-spacing: 0.2px;
		padding: 0 25px;
		display: inline-block;
		line-height: 4;
		color: @color-primary-text;

		.media-mobile({
		    padding: 0 10px;
		});

		.media-mobile-small({
		    padding: 0 5px;
		});

		&.logo{
			 padding: 15px 60px;
			 line-height: 1;

		 	.media-mobile({
			    padding: 5px 15px;
			    width: 90%;
			    box-sizing: border-box;
		 	});

		 	.media-mobile-small({
			    padding: 5px 10px;
		 	});
		}
	}

    ul{
		float: left;

    	li{
    		float: left;
			.transition(background 0.2s linear);

			&:hover{
				background: rgba(255, 255, 255, 0.05);
			}
    	}
    }

    .gamers{
    	background: @color-primary-button;
    	color: @color-white;
    	padding: 0 35px;
    	float: right;

    	.media-mobile({
			padding: 0 20px;
    	});

    	.media-mobile-small({
			padding: 0 10px;
    	});

    	.transition(none);
    	.awesome-icon('\f071', @position: before, @color: #fff500, @size: 1.5rem, @margin-right: 5px);

    	&:before{
    		.media-mobile-small({
				content: '';
	    	});
    	}

    	&:hover{
    		background: @color-danger;
    		.transition(background 0.2s linear);

    		&:before{
    			color: @color-red;
    		}
    	}
    }
}

.content-wrapper{
	width: 960px;
	margin: auto;

	.media-mobile({
		width: 100%;
	});

	&.box{
	    padding: 20px;
	    background: @color-primary-button;
	    border-radius: 5px;
        box-shadow: 15px 15px 60px 0 @color-black;
        box-sizing: border-box;

        h1{
        	.media-mobile({
				font-size: 3rem;
        	});
        }
	}
}

.flexbox{
	display: flex;

	&.align-items-center{
		align-items: center;
	}

	&.justify-space-around{
	    justify-content: space-around;
	}

	&.justify-center{
		justify-content: center;
	}

	&.flex-wrap{
		flex-wrap: wrap;
	}

	.fill-space{
		flex-grow: 1;
	}

	.align-end{
		align-self: flex-end;
	}
}


//Layout
body{
	position: relative;
	min-width: 960px;
	font-family: @font-site;
	font-size: 1.6rem;
	background: @color-background;
	color: @color-primary-text;
    letter-spacing: 0.7px;
    line-height: 1.3;

    .media-mobile({
		min-width: 0;
    });
}

h1{
    color: @color-white;
    font-size: 5.2rem;
    margin-bottom: 20px;
}

h2{
	color: @color-white;
	font-size: 4rem;	
}

p{
	margin-bottom: 15px;

	&:last-child{
		margin-bottom: 0;
	}
}

.hero-background{
	position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
    overflow: hidden;
    width: 100%;
}

.hidden-vh{
	position: relative;

	.vh{
		position: absolute;
		z-index: 1;
	    bottom: -95px;
	    left: 100px;

	    &:hover{
	    	img{
	    		top: 0;
	    	}
	    }

	    &.active{
	    	img{
				top: -10px;
	    	}

	    	i{
	    		opacity: 1;
	    		.transform(scale(1, 1));
	    	} 

	    	div{
	    		opacity: 1;
	    	}
	    }

	    i{
	    	.transform(scale(0.1, 0.1));
    	 	background: @color-white;
		    position: absolute;
		    border-radius: 50%;
		    opacity: 0;

	    	&:nth-child(1){
    		    height: 10px;
			    width: 10px; 
			    top: -20px;
			    right: 35px;
			    .transition(all 0.2s 0.3s linear);
	    	}

	    	&:nth-child(2){
    		    height: 15px;
			    width: 15px;
			    top: -42px;
			    right: 20px;
			    .transition(all 0.2s 0.5s linear);
	    	}
	    }

	    div{
    	    height: 115px;
		    width: 210px;
		    background: @color-white;
		    position: absolute;
		    top: -165px;
		    right: -110px;
		    border-radius: 50%;
		    opacity: 0;
		    .transition(all 0.1s 1.2s linear);

		    p{
		    	padding: 15px 25px;
		    	font-size: 1.1rem;
		    	color: @color-black;
		    	width: 100%;
		    	text-align: center;
		    }
	    }

	    img{
    	    position: relative;
    		top: 55px;
    		.transition(top 0.3s linear);
	    }
	}
}

.hide-vh{
	position: relative;
	z-index: 2;
}

.warnings{
    position: fixed;
    top: 35%;
    left: 40%;
    width: 20%;
    background: rgba(171, 171, 24, 0.8);
    padding: 1%;
    border-radius: 10px;

    .media-mobile({
		left: 0;
		margin: 0 10%;
		width: 80%;
		box-sizing: border-box;
		padding: 20px;
    });

    .animation(
	 fadeOutMessages,
	 @duration: 2.3s, 
	 @delay: 1s,
	 @fillMode: forwards, 
	 @direction: normal, 
	 @timingFunction: linear);

    p{
	    color: @color-white;
	    .awesome-icon('\f071', before, @color: @color-yellow, @margin-right: 5px, @size: 1rem);
    }
}

.errors{
    position: fixed;
    top: 10%;
    left: 40%;
    width: 20%;
    background: @color-red;
    padding: 1%;
    border-radius: 10px;

	.media-mobile({
		left: 0;
		margin: 0 10%;
		width: 80%;
		box-sizing: border-box;
		padding: 20px;
    });


    .animation(
	 fadeOutMessages,
	 @duration: 3.3s, 
	 @delay: 2s,
	 @fillMode: forwards, 
	 @direction: normal, 
	 @timingFunction: linear);

    p{
	    color: @color-white;
	    .awesome-icon('\f071', before, @color: @color-danger, @margin-right: 5px, @size: 1rem);
    }
}

.messages{
    position: fixed;
    top: 35%;
    left: 40%;
    width: 20%;
    background: rgba(17,121,146, 0.8);
    padding: 1%;
    border-radius: 10px;

    .media-mobile({
		left: 0;
		margin: 0 10%;
		width: 80%;
		box-sizing: border-box;
		padding: 20px;
    });


    .animation(
	 fadeOutMessages,
	 @duration: 2.3s, 
	 @delay: 1s,
	 @fillMode: forwards, 
	 @direction: normal, 
	 @timingFunction: linear);

    p{
	    color: @color-white;
	    .awesome-icon('\f058', before, @color: @color-primary-button, @margin-right: 5px, @size: 1rem);
    }
}


.error-page{
	text-align: center;

	.media-mobile({
		margin: 50px 0;
	});

	h1{
		.media-mobile({
		    font-size: 10rem;
   		});
	}

	p{
   		margin: 0 auto;

   		.media-mobile({
   			width: 75%;
		    font-size: 3rem;
   		});
	}
}

.modal{
    position: fixed;
    box-sizing: border-box;
    z-index: 90;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    overflow: auto;
    cursor: pointer;

    .animation(
	 fadeOutMessages,
	 @duration: 0.5s,
	 @fillMode: forwards, 
	 @direction: reverse, 
	 @timingFunction: linear);

    .modal-content{
	    margin: 10% auto;
    	width: 50%;
    	min-width: 960px;
    	min-height: 200px;
    	background: @color-black;
    	border-radius: 5px;
    	cursor: default;
	    box-sizing: border-box;
	    padding: 30px;
	    position: relative;
	    .clear;

	    .media-mobile({
		    width: 80%;
		    min-width: 0;
		});

    	i{
    		position: absolute;
		    top: 10px;
		    right: 10px;
		    cursor: pointer;
    	}

		figure{
			width: 40%;
			float: left;

			.media-mobile({
			    width: 100%;
			});
		}

    	div{
		    padding-left: 15px;
		    width: 60%;
		    float: left;
		    box-sizing: border-box;

		    .media-mobile({
			    width: 100%;
			    float: left;
			    box-sizing: border-box;
			    margin-top: 11px;
			    padding-left: 0;
			});
    	}

    	img{
    		border-radius: 2px;
    	}

    	h2{
    		font-size: 3.5rem;
    		margin-bottom: 10px;
    		color: @color-white;
    	}

    	p{
		    font-size: 1.5rem;
    	}

    	.button{
    		display: inline-block;
    		margin: 10px 5px 0 0;
    		background: @color-primary-button;
    		border-radius: 5px;
    		padding: 10px;
    		.awesome-icon('\f08e', @margin-left: 5px);
    		.transition(all 0.5s linear);

    		&:hover{
    			background: @color-hover;
    			color:	@color-white;
    		}
    	}
    }
}

.keyframes(fadeOutMessages, {
	0%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
});

.module{
	padding: 60px 20px;
	background: @color-background;

	&.no-bottom-space{
		padding-bottom: 0;
	}

	&.hero{
		background: none;
	}

	@import 'modules-gg/text-image.less';
	@import 'modules-gg/skills-viewer.less';
	@import 'modules-gg/question-boxes.less';
	@import 'modules-gg/contact-form.less';
	@import 'modules-gg/gamers.less';
}

//Recapcha fixes
.g-recaptcha div, .g-recaptcha iframe{
	.media-mobile({
		width: 100% !important;
	});
}

.gc-reset{
transform:scale(0.95) !important;
-webkit-transform:scale(0.95) !important;
transform-origin:0 0 !important;
-webkit-transform-origin:0 0 !important;
}

//Unity styles
.unity-wrapper{
    height: 560px;
    position: relative;

    .media-mobile({
		display: none;
    });

    canvas{
    	.media-mobile({
			display: none;
    	});
    }
}


.template-wrap{
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}