&.about{
	background: @color-blue;
	border-top: 1px solid @color-borders;
	border-bottom: 1px solid @color-borders;

	.media-mobile({
		overflow: hidden;
	});

	article{
		margin-bottom: 10vh;
	}

	header{
		margin-bottom: 2vh;

		&.code{
			.awesome-icon('\f121', before, 1.3vw, @margin-right: 1vw);

			&:before{
				.media-mobile({
					font-size: 1.5rem;
				});
			}
		}

		&.game{
			.awesome-icon('\f11b', before, 1.3vw, @margin-right: 1vw);

			
			&:before{
				.media-mobile({
					font-size: 1.5rem;
				});
			}
		}

		h3{
			display: inline-block;
			vertical-align: middle;
		}
	}

	.stats{
		margin-left: 2.7vw;

		li{
			margin-bottom: 1vw;

			.media-mobile({
				margin-bottom: 3vw;
			});

			&.open{
				.details{
					max-height: 35rem;
					.transition(all 2s linear);
				}
			}
		}

		.meter{
			line-height: 2.2;
			color: @color-black;
			font-weight: bold;
			.clear;

			div{
			    height: 2.2em;
			    width: 85%;
			    float: left;
			    position: relative;
			    cursor: pointer;
		        background: rgba(255,255,255,0.3);
				.shadow-box;

				.media-mobile({
					width: 95%;
				});

				i{
					float:left;
					height: 100%;
					content: '';
					.transition(background 1s ease-out);
					.gradient(@color-base,  @color-low);

					&.med{
						.gradient(@color-base,  @color-med);
					}

					&.med-good{
						.gradient(@color-base,  @color-med-good);
					}

					&.good{
						.gradient(@color-base,  @color-good);
					}

					&.oops{
						.gradient(@color-base,  @color-oops);
					}
				}

				span{
					position: absolute;
					
					&.description{
						left: 5px;
					}

					&.percentage{
						right: 5px;
					}
				}
			}  
		}

		.result{
			float: right;
			color: @color-white;
	        width: 14%;
		    font-size: 1.4rem;
		    line-height: 2.5;
		    position: relative;

			.media-mobile({
				display: none;
			});
		}

		.details{
		    width: 85%;
	        max-height: 0;
		    overflow: hidden;
		    box-sizing: border-box;
		    .transition(all 1.5s ease);

		    p{
		    	margin: 1vw;
		    }
		}
	}
}