&.work{
	background: url(/img/work/background.jpg) right bottom fixed;

	.media-mobile({
		background-position: left bottom;
	});

	article{
		.clear; 
		
		.companies{
			margin-bottom: 5vw;

	    	div{
    		    margin: 5vh 0;
    		    overflow: hidden;

    		    &.open{
			    	ul{
			    		max-height: 30rem;
			    		.transition(max-height 1.5s linear);

			    		.media-mobile({
							max-height: 40rem;
			    		});
			    	}

			    	h4{
			    		.awesome-icon('\f106');
			    	}
			    }
		    	}

	    	

	    	ul{
	    	    padding-left: 1vw;
			    list-style-type: disc;
			    font-style: italic;
			    max-height: 0;
			    width: 85%;
			    .transition(max-height 1s ease-out);

			    .media-mobile({
					padding-left: 2.5rem;
			    });

			    li{
			    	.media-mobile({
						padding-bottom: 2vw;
				    });
			    }
		    }

		    h4{
    	    	border-bottom: 1px solid @color-white;
    	    	position: relative;
    	    	cursor: pointer;
    	    	.user-select(none);
    	    	.awesome-icon('\f107');
	

    	    	&:after{
    	    		position: absolute;
    	    		top: 0;
    	    		right: 0;
    	    	}
		    }
		}
	    
	    .samples{
	    	ul{
				.clear;
	    	}

			li{
				float: left;
			    width: 30%;
			    height: 20rem;
			    margin: 1%;
			    overflow: hidden;
			    border-radius: 10px;
			    cursor: pointer;
			    border: 2px solid @color-box-sample-border; 

			    .media-mobile({
					width: 44%;
					margin: 2%;
					height: 25vw;
			    });

			    .media-mobile-small({
					width: 95%;
				    margin: 5% auto;
				    height: 50vw;
				    float: none;
			    });

			    &:hover, :focus{
			    	figcaption{
			    		opacity: 1;
			    	}
			    }

			    figure{
			    	position: relative;
			    	overflow: hidden;
    				border-radius: 10px;
    				height: 100%;
    				opacity: 0.9;
    				.gradient(@color-box-sample-from, @color-box-sample-to);

			    	figcaption{
						position: absolute;
					    top: 40%;
					    width: 100%;
					    text-align: center;
					    background: rgba(0, 0, 0, 0.5);
					    font-size: 1.5rem;
					    text-transform: uppercase;
					    padding: 3%;
					    box-sizing: border-box;
					    opacity: 0;
					    .transition(opacity 0.5s linear);
			    	}
			    }
			}
		}
	}


}

